<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header") %> <%- include("includes/aside") %>
    <main>
      <h1>Oops, Page not found!</h1>
      <p>
        Maybe typo at the URL? please make sure you already input the right one
      </p>
      <p>Or</p>
      <p>
        Looking for your favorite restaurant? You can share it
        <a href="/recommend">here</a> and let the world knows your favorite
        restaurant!
      </p>
    </main>
  </body>
</html>
