<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header") %> <%- include("includes/aside") %>
    <main>
      <h1>Oops, Something went wrong!</h1>
      <p>
        Unfortunately, something wrong with the server, we're doing our best to
        fix it as quick as possible!
      </p>
    </main>
  </body>
</html>
